@model IEnumerable<VehicleInsuranceManagement.Models.Coefficient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoefficientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoefficientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoefficientID })
        </td>
    </tr>
}

</table>
