@model VehicleInsuranceManagement.Models.OrderPolicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderPolicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceType.InsuranceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceType.InsuranceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleOwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleOwnerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
