@model IEnumerable<VehicleInsuranceManagement.Models.VehicleModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleBrand.VehicleBrandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBrand.VehicleBrandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleModelID })
        </td>
    </tr>
}

</table>
