@model VehicleInsuranceManagement.Models.Claim
@using VehicleInsuranceManagement.Models


@{
    ViewBag.Title = "Create";
}
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../img/carousel-bg-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Initiate the Claim</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Initiate the Claim</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PolicyNumber, "PolicyNumber", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("PolicyNumber", null, "--Select--", htmlAttributes: new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.PolicyNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlaceOfAccident, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlaceOfAccident, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(Model => Model.PlaceOfAccident) } })
                        @Html.ValidationMessageFor(model => model.PlaceOfAccident, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfAccident, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfAccident, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(Model => Model.DateOfAccident) } })
                        @Html.ValidationMessageFor(model => model.DateOfAccident, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClaimableAmount, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ClaimableAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(Model => Model.ClaimableAmount) } })
                        @Html.ValidationMessageFor(model => model.ClaimableAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-10">
                            <input type="submit" value="Create" class="btn btn-danger w-100 py-3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
